/* Lodging´s policies */
.product-policies {
    width: 100%;
    background-color: var(--background-card);
    margin-bottom: 50px;
}

.policies-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    padding: 2rem 4rem;
}

.product-rules-title {
    color: var(--tertiary);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.product-rules-container {
    color: var(--secondary);
    font-size: 1.4rem;
    width: 30%;
}

.product-rule-item {
    padding-bottom: 1.5rem;
}

/* tablet version */
@media screen and (max-width: 850px) {
    .policies-container {
        padding: 2rem 3rem;
    }
}

/* mobile version */
@media (max-width: 500px) {
    .product-policies {
        margin-bottom: 0;
    }

    .policies-container {
        flex-direction: column;
        padding: 1rem;
    }

    .product-rules-container {
        width: 75%;
        padding-bottom: 1rem;
    }

    .product-rules-title {
        padding-bottom: 0.5rem;
    }
        
    .product-rule-item {
        padding-bottom: 1rem;
    }
}