.button-login {
  background-color: var(--background-card);
  border: solid 1px var(--primary);
  border-radius: 6px;
  padding: 1rem 3.8rem;
  margin-left: 1rem;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}

.button-login:hover {
  background-color: var(--primary);
  color: var(--font-color);
}

/* tablet version */
@media screen and (max-width: 760px) {
  .button-login {
    padding: 1rem 2.3rem;
    width: 13rem;
  }  
}